<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
	<%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>
	<%= link_to 'Remove', authors_post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>

<div class="row">
	<div class="col-md-1 col-lg-2"></div>
	<div class="col-md-10 col-lg-8 offest-lg-2 text-xs-center">
		<h1><%= @post.title %></h1>
		<p><%= @post.display_day_published %></p>
		<%= @post.body.html_safe %>
	</div>
</div>
